.sidebar-main {
    background-color: rgb(219, 201, 201)!important;
    margin-top: 0px !important;
    height: 55em !important;
    font-family: 'Quicksand', sans-serif;
    text-align: left !important;
    font-size: 16px !important;
}

.sidebar-tags {
    font-size: 16px !important;
}

.circle {
    background: rgb(115, 108, 185);
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.sidebar-list {
    font-size: 12px !important;
    margin-left: 0px !important;
    padding-left: 8% !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.text-batch {
    font-size: 10px !important;
    margin-top: 10px;
}

.text-bold {
    font-weight: bold !important;
}

.spacing-zero {
    padding: 0px !important;
    margin: 0px !important;
}

.body-style {
    height: 55em !important;
    margin-top: 0px !important;
}

.align-left {
    margin-left: 0% !important;
    padding-left: 0% !important;
}